body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #eef;
  margin: 0;
}

article {
  padding: 2vw 2vh;
}

button , input.clickable {
  text-transform: uppercase;
  background: aquamarine;
  border: 0;
  font-size: 14px;
  &:hover {
    background: whitesmoke;
  }
}

.text-center {
  text-align: center;
}

.site-title {
  font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  color: darkorchid;
  font-size: 30px;
  text-decoration: none;
  &:hover {
    color: mediumorchid;
  }

}

.site-subtitle {
  font-size: 22px;
}


table.list {
  &, & > tbody > tr {
    &, & > th, & > td {
      padding: 3px;
      border: 1px dotted black;
    }
  }
}

form.input {
  display: table;
  div {
    display: table-row;

    label, input {
      margin: 6px;
      display: table-cell;
    }

    label {
      text-align: right;
    }
  }
}

details {
  margin: 20px 0;
}

button , input {
  padding: 6px;
}

input {
  border: dashed 1px;
}

.clickable:hover {
  background-color: #bbb
}

header, footer {
  display: flex;
  align-items: center;
  background: lightsteelblue;
  padding: 20px;
}

header {
  justify-content: space-between;
}

footer {
  justify-content: space-around;
}
