{% extends "index.html" %}

{% block subtitle %}Flight {{ flight.pk }}{% endblock %}

{% block content %}
    <article>
        <h3>Details of flight no {{ flight.pk }}:</h3>
        <table>
            <tr>
                <th>Plane identifier</th>
                <td>{{ flight.plane.identifier }}</td>
            </tr>
            <tr>
                <th>Plane capacity</th>
                <td>{{ flight.plane.passengerLimit }}</td>
            </tr>
            <tr>
                <th>Free seats</th>
                <td>{{ freeSeats }}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ flight.takeoffAirport }}</td>
            </tr>
            <tr>
                <th>To</th>
                <td>{{ flight.landingAirport }}</td>
            </tr>
            <tr>
                <th>Takeoff</th>
                <td>{{ flight.takeoffTime }}</td>
            </tr>
            <tr>
                <th>Landing</th>
                <td>{{ flight.landingTime }}</td>
            </tr>
        </table>

        <details open>
            <summary>List of reservations</summary>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Tickets bought</th>
                </tr>
                </thead>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.passenger.name }}</td>
                        <td>{{ reservation.passenger.surname }}</td>
                        <td>{{ reservation.ticketCount }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No reservations made for this flight</td>
                    </tr>
                {% endfor %}
            </table>
        </details>
    </article>

    <form action="{% url 'reserve' %}" method="POST" class="mt-4">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name"/>
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" placeholder="Surname"/>
        <label for="ticketCount">Ticket Count</label>
        <input type='number' id='ticketCount' name='ticketCount' value='0'/>
        <input type="hidden" name="flight" value="{{ flight.pk }}" />
        <button type="submit" class="btn btn-primary">Buy ticket</button>
    </form>

{% endblock %}