{% extends "index.html" %}

{% block subtitle %}Main Page{% endblock %}

{% block content %}
    <article>
        <form>
            <label for="dateInput">Search by date:</label>
            <input type="date" id="dateInput" name="search" value="{{ dateQuery }}"/>
            <button type="submit">Search</button>
        </form>
        <h3>Scheduled flights:</h3>
        <table id="flight-list">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Takeoff</th>
                <th>Landing</th>
            </tr>
            </thead>
            <tbody>
            {% for flight in flightList %}
                <tr
                    class="clickable"
                    onclick="window.location.assign('{% url 'details' flight.pk %}');"
                >
                    <td>{{ flight.takeoffAirport }}</td>
                    <td>{{ flight.landingAirport }}</td>
                    <td>{{ flight.takeoffTime }}</td>
                    <td>{{ flight.landingTime }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No flights scheduled</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}