<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Aircraft Simulator - {% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}>
</head>
<body>
<header>
    <a class="site-title" href="/">
        Aircraft Simulator
    </a>
    <a class="site-subtitle" href="/static/crews.html">
        Manage crews
    </a>
    {% if request.user.is_authenticated %}
        <div>
            Hi, {{ request.user.username }}
            <a href="{% url 'logout' %}?next={{ request.get_full_path | urlencode }}">
                <button>Log out</button>
            </a>
        </div>
    {% else %}
        {% if 'login' not in request.path %}
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="login" required/>
                <input type="password" name="password" placeholder="password" required/>
                <button formaction="{% url 'login' %}?next={{ request.get_full_path | urlencode }}"
                        type="submit">
                    login
                </button>
            </form>
        {% endif %}
    {% endif %}
</header>
<article>
    {% block content %}{% endblock %}
</article>
<footer>
    <span><a href="http://github/mbalc">mbalc</a> @ 2018</span>
</footer>
</body>
</html>